<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <title>News</title>
</head>
<body>
<div class="container-fluid text-sm-center">
    <h1>Welcome to my application</h1>
    <a class="h2" th:href="@{/news}"> show news</a><br>
    <a class="h2" th:href="@{/updatelatestnews}"> Update Latest News</a>
</div>
<div th:if="${message}" class="alert alert-success text-center">
    [[${message}]]
</div>

</body>
</html>